n8n/ticket_triage_cloud_improved.json
{
  "name": "Ticket Triage - Cloud Version (Improved)",
  "nodes": [
    {
      "parameters": {},
      "id": "78791e46-443a-4229-bfba-db78b9621c5f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// CSV data embedded directly (works in n8n Cloud)\nconst csvContent = `ticket_id,created_at,customer_name,customer_email,subject,body,status\nTKT-1031,2026-04-28 02:44:00,Greta Lindberg,glindberg@nordicfintech.example,General inquiry,Looking for a reseller in Brazil. Do you have local partners?,pending\nTKT-1041,2026-04-27 22:22:00,Yuki Nakamura,ynakamura@tokyobank.example,Identity verification issue,got a notification my ID was used to open an account. this wasn't me. someone else is using my documents,new\nTKT-1026,2026-04-27 07:17:00,Diego Rivera,d.rivera@orbitfinance.example,Account question,\"Logged in but the dashboard is empty, no transactions visible. Was my account deactivated?\",new\nTKT-1015,2026-04-27 02:28:00,Ricardo Silva,rsilva@brazilfintech.example,Billing inquiry,We want to cancel our subscription at end of cycle. What's the process?,new\nTKT-1017,2026-04-26 20:52:00,Kenji Tanaka,k.tanaka@asiapacific.example,Document upload problem,\"I uploaded my passport three times and it keeps getting rejected. The photo is clear, the document is valid until 2029. What's happening?\",new\nTKT-1045,2026-04-26 19:13:00,Yuki Nakamura,ynakamura@tokyobank.example,Document upload problem,I am trying to verify with my national ID card but the back side keeps failing. The front works fine. Lighting issue maybe?,open\nTKT-1004,2026-04-26 19:01:00,Jamal Washington,jwashington@coastalbank.example,Document upload problem,\"Hi, can you tell me what file formats are accepted for the ID upload? I have a HEIC file from my iPhone and your form keeps saying 'invalid format'.\",new\nTKT-1010,2026-04-26 18:01:00,Kenji Tanaka,k.tanaka@asiapacific.example,Document upload problem,My residence permit was approved but the system rejected it as 'unknown document type'. It's a valid government-issued ID.,open\nTKT-1044,2026-04-26 10:14:00,Diego Rivera,d.rivera@orbitfinance.example,Identity verification issue,\"Hey team, my passport photo has been used without my permission. I never created an account on your system. How do I get this removed?\",pending\nTKT-1006,2026-04-26 01:51:00,Elena Petrova,elena.p@nordicfintech.example,General inquiry,Is it possible to integrate with HubSpot? We use it for our CRM.,open\nTKT-1033,2026-04-25 20:05:00,Ricardo Silva,rsilva@brazilfintech.example,Account question,Can I get a session timeout extension? My team is in the middle of a verification batch and we keep getting kicked out.,new\nTKT-1001,2026-04-25 12:50:00,Greta Lindberg,glindberg@nordicfintech.example,Cannot access account,I forgot my password and the reset link in the email is broken. Can you send me a new one?,open\nTKT-1046,2026-04-25 10:53:00,Tomas Novak,tnovak@apexcapital.example,Document upload problem,Document upload step is stuck on processing for 20 minutes. Should I refresh?,pending\nTKT-1020,2026-04-25 02:59:00,Carlos Mendez,cmendez@iberianfin.example,Suspicious activity on account,I think my account was opened by someone else. I never signed up but I got a verification email with my old address that I haven't used in 3 years. The ID document on file is not mine.,new\nTKT-1038,2026-04-24 21:32:00,Jamal Washington,jwashington@coastalbank.example,Suspicious activity on account,The selfie verification step is showing a face that is not me. I uploaded my passport but the system says identity mismatch. I am worried someone is trying to impersonate me.,new\nTKT-1034,2026-04-24 18:38:00,Naledi Mokoena,nmokoena@savbank.example,General inquiry,Where can I find your SOC 2 report?,open\nTKT-1027,2026-04-24 17:38:00,Tomas Novak,tnovak@apexcapital.example,Cannot access account,Two factor auth code is not arriving. I've waited 10 minutes. Please help.,pending\nTKT-1008,2026-04-24 16:11:00,Aisha Khan,akhan@gulfbanking.example,Identity verification issue,There's something off with the verification on my account. The system accepted an ID that I don't think was mine. The DOB shown is 1987 but mine is 1991.,new\nTKT-1012,2026-04-24 15:46:00,Elena Petrova,elena.p@nordicfintech.example,Verification failed,Submitted a temporary driving permit instead of full license by mistake. Can I redo the verification?,open\nTKT-1009,2026-04-23 14:35:00,Aisha Khan,akhan@gulfbanking.example,Cannot access account,My account says 'pending verification' for 3 days now. Is this normal?,pending\nTKT-1049,2026-04-23 13:20:00,Naledi Mokoena,nmokoena@savbank.example,Identity verification issue,URGENT: a customer just submitted what appears to be a doctored utility bill. The metadata shows it was edited 4 hours before upload. Please check ticket #47 from this morning.,open\nTKT-1014,2026-04-23 09:04:00,Greta Lindberg,glindberg@nordicfintech.example,Suspicious activity on account,Found my driver's license number being used on what looks like a forged document. The customer who submitted has a different photo than mine. Please escalate.,pending\nTKT-1043,2026-04-22 21:28:00,Priya Shankar,priya.s@meridiancorp.example,Identity verification issue,We are seeing patterns where the same selfie appears across multiple new account submissions with different names. Requesting an urgent review of accounts created on Apr 28-29.,open\nTKT-1021,2026-04-22 18:19:00,Tomas Novak,tnovak@apexcapital.example,General inquiry,\"Quick question, do you have an SDK for Python? I see the REST API docs but couldn't find a Python library.\",pending\nTKT-1035,2026-04-22 09:10:00,Alex Morgan,alex.morgan@northstarbank.example,Document upload problem,The OCR seems to be reading my surname wrong. It says 'Khsn' instead of 'Khan'. How do I fix this?,open\nTKT-1013,2026-04-22 05:35:00,Lukas Schmidt,lschmidt@alpinefinance.example,Document upload problem,My driver's license was issued last week and the system says it can't read the date. Can I submit it manually?,pending\nTKT-1005,2026-04-21 18:58:00,Elena Petrova,elena.p@nordicfintech.example,Suspicious activity on account,I'm an admin at our company and I see one of our team members verified with a passport that doesn't match the ID we have on file from HR. Could be a substitution attempt.,new\nTKT-1042,2026-04-21 09:04:00,Aisha Khan,akhan@gulfbanking.example,Account question,How do I export my verification history? I need it for an audit.,new\nTKT-1050,2026-04-21 06:46:00,Jamal Washington,jwashington@coastalbank.example,Billing inquiry,\"Can we get a quote for 50,000 verifications per month?\",open\nTKT-1018,2026-04-21 05:09:00,David Cohen,dcohen@levantbank.example,Verification failed,My middle name appears on the passport but not in my account. The system flagged a mismatch.,new\nTKT-1016,2026-04-21 04:44:00,Priya Shankar,priya.s@meridiancorp.example,Billing inquiry,How do I update the billing email? It still goes to my predecessor at the company.,open\nTKT-1003,2026-04-20 03:30:00,Rashida Patel,rpatel@subcontinentbank.example,Verification failed,\"Hi, the document upload keeps failing with error code DOC_REJECT_44. Could you tell me what that means?\",open\nTKT-1024,2026-04-20 03:19:00,Lukas Schmidt,lschmidt@alpinefinance.example,General inquiry,Can you share your latency stats for the document verification step?,new\nTKT-1029,2026-04-19 16:36:00,Lukas Schmidt,lschmidt@alpinefinance.example,Verification failed,OCR misread my address. It says I live on '12 Main St' but I gave it '12 Maine St'. Will this cause issues with onboarding?,open\nTKT-1019,2026-04-19 08:56:00,Yuki Nakamura,ynakamura@tokyobank.example,Billing inquiry,I was charged twice this month. Can you refund the duplicate?,pending\nTKT-1023,2026-04-18 15:02:00,David Cohen,dcohen@levantbank.example,Account question,Account was deactivated after 90 days of inactivity. Need to reactivate.,open\nTKT-1007,2026-04-18 01:23:00,Kenji Tanaka,k.tanaka@asiapacific.example,Cannot access account,I'm locked out of my account after too many tries. How long is the cooldown?,pending\nTKT-1036,2026-04-16 19:45:00,Sarah Goldberg,sarah.g@summitinvest.example,General inquiry,Our compliance team needs the data residency policy for EU customers. Where can I find that?,new\nTKT-1037,2026-04-16 19:45:00,Olivia Brennan,obrennan@meridiancorp.example,General inquiry,How does your service compare to Onfido? Just doing some research.,open\nTKT-1025,2026-04-16 18:44:00,Tomas Novak,tnovak@apexcapital.example,Billing inquiry,The payment method on file expired. How do I update it?,open\nTKT-1048,2026-04-16 08:50:00,Kenji Tanaka,k.tanaka@asiapacific.example,Suspicious activity on account,\"Hi, I need to flag suspicious activity. There are 4 new accounts created from my email domain in the past 2 days that we did not authorize. Please investigate.\",open\nTKT-1030,2026-04-16 08:02:00,Carlos Mendez,cmendez@iberianfin.example,Billing inquiry,Got an invoice but no breakdown by verification type. We need that for accounting.,new\nTKT-1011,2026-04-16 05:18:00,Sarah Goldberg,sarah.g@summitinvest.example,Account question,Need to add a new admin to our company account. What's the process?,pending\nTKT-1032,2026-04-16 03:45:00,Mei Chen,mei.chen@pacificholdings.example,Billing inquiry,What's included in the Pro plan? Can't find a clear breakdown on the website.,new\nTKT-1022,2026-04-16 02:39:00,Greta Lindberg,glindberg@nordicfintech.example,Verification failed,The system says my passport is expired but it expires in 2027. I checked twice.,new\nTKT-1039,2026-04-16 02:26:00,Sarah Goldberg,sarah.g@summitinvest.example,Cannot access account,\"Hi, can you help me change the email on my account? I no longer have access to the old one.\",open\nTKT-1047,2026-04-15 20:45:00,Yuki Nakamura,ynakamura@tokyobank.example,Document upload problem,\"When I try to take the selfie, the camera does not turn on in your app. I'm using Chrome on a Mac.\",new\nTKT-1002,2026-04-15 19:31:00,Diego Rivera,d.rivera@orbitfinance.example,Verification failed,PDF of my ID got rejected. Should I send a JPG instead?,new\nTKT-1028,2026-04-14 19:17:00,Naledi Mokoena,nmokoena@savbank.example,Verification failed,\"Tried verifying with my ID three times today, gets stuck after I take the selfie. No error message just spinning.\",new\nTKT-1040,2026-04-14 17:54:00,Alex Morgan,alex.morgan@northstarbank.example,Billing inquiry,Invoice #1023 doesn't match the verifications we ran in March. Could you check?,new`;\n\n// Parse CSV helper function\nfunction parseCSVLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  \n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    \n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\n// Parse CSV content\nconst lines = csvContent.trim().split('\\n');\nconst headers = parseCSVLine(lines[0]);\n\nconst outputItems = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (line) {\n    const values = parseCSVLine(line);\n    const ticket = {};\n    headers.forEach((header, index) => {\n      ticket[header] = values[index] || '';\n    });\n    outputItems.push({ json: ticket });\n  }\n}\n\nreturn outputItems;"
      },
      "id": "0f986d89-4582-41d8-972e-f7062ae49d95",
      "name": "Load and Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "bde30cd5-db4d-41ac-8433-91ab2c2bedd9",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "wait-between-batches",
      "name": "Wait Between API Calls",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "webhookId": "wait-between-calls"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key={{ $credentials.apiKey }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleGeminiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"# Role and Identity\\n\\nYou are an expert support ticket triage analyst for AU10TIX, an identity verification company. Your task is to analyze customer support tickets and extract structured triage metadata accurately and consistently.\\n\\n# Output Format Specification\\n\\nReturn ONLY a valid JSON object. Do not include:\\n- Markdown code blocks or backticks (such as ```json or ```)\\n- Preambles, explanations, or conversational text (like \\\"Here is your JSON:\\\")\\n- Extra fields beyond the four required keys\\n- Line breaks or formatting within string values\\n\\nYour response must be pure JSON with exactly these four keys:\\n\\n{\\n  \\\"urgency\\\": \\\"High\\\" | \\\"Medium\\\" | \\\"Low\\\",\\n  \\\"category\\\": \\\"Document Issue\\\" | \\\"Account Access\\\" | \\\"Billing\\\" | \\\"Fraud Concern\\\" | \\\"General Inquiry\\\",\\n  \\\"summary\\\": \\\"A single-sentence description following the guidelines in Rule 5\\\",\\n  \\\"flag_for_review\\\": true | false\\n}\\n\\n# Classification Rules\\n\\n## Rule 1: General Principles\\n\\n- Base classification ONLY on information explicitly provided in the ticket\\n- Do not invent missing details or make unsupported assumptions\\n- Focus on describing the customer's actual issue, not the classification labels\\n- When a ticket contains multiple overlapping issues, use the priority hierarchy in Rule 2\\n\\n## Rule 2: Classification Hierarchy (Multi-Issue Tickets)\\n\\nIf a ticket mentions multiple issues, determine the category using this strict priority order:\\n\\n1. **Fraud Concern** - Always takes absolute precedence over all other categories\\n2. **Account Access** - If the customer is completely locked out or blocked from access\\n3. **Document Issue** - If active verification or document upload is blocked\\n4. **Billing** - If there is financial impact, payment issues, or subscription concerns\\n5. **General Inquiry** - Informational questions, feature requests, or routine updates\\n\\n**Example:** If a ticket mentions both a billing question AND suspected fraud → classify as \\\"Fraud Concern\\\"\\n\\n## Rule 3: Urgency Classification\\n\\n**Critical:** Urgency should be determined ONLY by the ticket content and business/security impact. Do not increase urgency based on ticket age, creation date, or status duration.\\n\\nAnalyze the ticket content and assign urgency:\\n\\n- **High**: Customer completely blocked from onboarding or verification, clear fraud or security concern, unauthorized access, data breach, critical business impact, or severe billing dispute\\n- **Medium**: Verification problems, upload/OCR failures, login or 2FA issues, billing discrepancies, delayed verification, or workflow issues with partial functionality\\n- **Low**: General questions, feature requests, routine follow-ups, documentation/integration questions, password resets with no urgency, or unclear non-urgent issues\\n\\n## Rule 4: Category Definitions\\n\\nSelect exactly ONE category from these five options:\\n\\n- **Document Issue**: Verification failures, upload errors, OCR issues, rejected documents, blurry/cropped images, document quality problems, unsupported document types, or format issues\\n- **Account Access**: Login problems, locked accounts, password resets, forgotten credentials, permissions issues, 2FA failures, session timeouts, or account deactivation\\n- **Billing**: Payments, invoices, refunds, subscriptions, pricing questions, billing disputes, duplicate charges, or payment method updates\\n- **Fraud Concern**: Forged/fake/altered documents, stolen identity, impersonation, unauthorized account creation or access, suspicious identity mismatch, document tampering, metadata manipulation, or repeated suspicious verification attempts\\n- **General Inquiry**: Product questions, integrations, API documentation, feature requests, partnership inquiries, competitor comparisons, or general support questions\\n\\n## Rule 5: Summary Guidelines\\n\\nCreate a single-sentence description in plain English that:\\n\\n- Describes the customer's issue from their perspective\\n- Focuses on operational impact, not classification labels\\n- Avoids technical jargon, error codes, or internal terminology\\n- States what is wrong or what the customer needs, not what category it belongs to\\n\\n**Good examples:**\\n- \\\"Customer's passport upload fails repeatedly despite valid expiration date\\\"\\n- \\\"Customer received verification email for account they did not create\\\"\\n- \\\"Customer is locked out after multiple failed 2FA attempts\\\"\\n- \\\"Customer requests information about Python SDK availability\\\"\\n\\n**Bad examples (avoid these patterns):**\\n- \\\"This is a Medium urgency Document Issue\\\" (uses classification labels)\\n- \\\"Customer has a problem with their document\\\" (too vague, no specifics)\\n- \\\"DOC_REJECT_44 error occurred\\\" (too technical, uses internal error codes)\\n- \\\"Fraud concern ticket\\\" (category name instead of describing the issue)\\n\\n## Rule 6: Fraud Detection (flag_for_review)\\n\\n### Set flag_for_review = true ONLY for credible fraud or security threats:\\n\\n- Forged, fake, or altered documents\\n- Stolen identity or identity theft\\n- Impersonation attempts\\n- Unauthorized account creation or access\\n- Suspicious identity mismatch (e.g., different person in selfie vs ID)\\n- Document tampering or metadata manipulation\\n- Repeated suspicious verification attempts across multiple accounts\\n- Clear evidence of fraudulent activity\\n\\n### Set flag_for_review = false for:\\n\\n- Routine verification failures without fraud indicators\\n- OCR mistakes or misreads\\n- Upload bugs or technical errors\\n- Blurry, cropped, or low-quality document images\\n- Customer confusion or legitimate mistakes\\n- Normal login or password reset issues\\n- Name spelling variations or typos\\n- Document expiration concerns without forgery indicators\\n\\n**Critical Constraint:** If fraud or a security threat is not clearly and explicitly indicated or heavily implied in the ticket, default this field to false.\\n\\n# Edge Cases & Error Handling\\n\\nIf the ticket body is entirely empty, unreadable, or lacks sufficient information to perform classification, gracefully bypass normal classification logic and return exactly this JSON structure:\\n\\n{\\n  \\\"urgency\\\": \\\"Low\\\",\\n  \\\"category\\\": \\\"General Inquiry\\\",\\n  \\\"summary\\\": \\\"Ticket contains no readable content or lacks sufficient information\\\",\\n  \\\"flag_for_review\\\": false\\n}\\n\\n# Input Ticket Data\\n\\nSubject: {{ $json.subject }}\\nBody: {{ $json.body }}\\nCustomer: {{ $json.customer_name }} ({{ $json.customer_email }})\\n\\nAnalyze the ticket above and return your classification as valid JSON only.\"\n        }\n      ],\n      \"role\": \"user\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c07f3382-b5f1-4a6a-b56b-598450551eb9",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "YOUR_API_KEY_CREDENTIAL_ID",
          "name": "Gemini API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error !== undefined || $json.statusCode === 429 }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "26f57cbd-28a1-45de-b808-d75f3f11dda2",
      "name": "Check for Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "d67d0d3a-c1f7-470d-8f67-0980221ba900",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1560,
        200
      ],
      "webhookId": "wait-retry-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key={{ $credentials.apiKey }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleGeminiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"# Role and Identity\\n\\nYou are an expert support ticket triage analyst for AU10TIX, an identity verification company. Your task is to analyze customer support tickets and extract structured triage metadata accurately and consistently.\\n\\n# Output Format Specification\\n\\nReturn ONLY a valid JSON object. Do not include:\\n- Markdown code blocks or backticks (such as ```json or ```)\\n- Preambles, explanations, or conversational text (like \\\"Here is your JSON:\\\")\\n- Extra fields beyond the four required keys\\n- Line breaks or formatting within string values\\n\\nYour response must be pure JSON with exactly these four keys:\\n\\n{\\n  \\\"urgency\\\": \\\"High\\\" | \\\"Medium\\\" | \\\"Low\\\",\\n  \\\"category\\\": \\\"Document Issue\\\" | \\\"Account Access\\\" | \\\"Billing\\\" | \\\"Fraud Concern\\\" | \\\"General Inquiry\\\",\\n  \\\"summary\\\": \\\"A single-sentence description following the guidelines in Rule 5\\\",\\n  \\\"flag_for_review\\\": true | false\\n}\\n\\n# Classification Rules\\n\\n## Rule 1: General Principles\\n\\n- Base classification ONLY on information explicitly provided in the ticket\\n- Do not invent missing details or make unsupported assumptions\\n- Focus on describing the customer's actual issue, not the classification labels\\n- When a ticket contains multiple overlapping issues, use the priority hierarchy in Rule 2\\n\\n## Rule 2: Classification Hierarchy (Multi-Issue Tickets)\\n\\nIf a ticket mentions multiple issues, determine the category using this strict priority order:\\n\\n1. **Fraud Concern** - Always takes absolute precedence over all other categories\\n2. **Account Access** - If the customer is completely locked out or blocked from access\\n3. **Document Issue** - If active verification or document upload is blocked\\n4. **Billing** - If there is financial impact, payment issues, or subscription concerns\\n5. **General Inquiry** - Informational questions, feature requests, or routine updates\\n\\n**Example:** If a ticket mentions both a billing question AND suspected fraud → classify as \\\"Fraud Concern\\\"\\n\\n## Rule 3: Urgency Classification\\n\\n**Critical:** Urgency should be determined ONLY by the ticket content and business/security impact. Do not increase urgency based on ticket age, creation date, or status duration.\\n\\nAnalyze the ticket content and assign urgency:\\n\\n- **High**: Customer completely blocked from onboarding or verification, clear fraud or security concern, unauthorized access, data breach, critical business impact, or severe billing dispute\\n- **Medium**: Verification problems, upload/OCR failures, login or 2FA issues, billing discrepancies, delayed verification, or workflow issues with partial functionality\\n- **Low**: General questions, feature requests, routine follow-ups, documentation/integration questions, password resets with no urgency, or unclear non-urgent issues\\n\\n## Rule 4: Category Definitions\\n\\nSelect exactly ONE category from these five options:\\n\\n- **Document Issue**: Verification failures, upload errors, OCR issues, rejected documents, blurry/cropped images, document quality problems, unsupported document types, or format issues\\n- **Account Access**: Login problems, locked accounts, password resets, forgotten credentials, permissions issues, 2FA failures, session timeouts, or account deactivation\\n- **Billing**: Payments, invoices, refunds, subscriptions, pricing questions, billing disputes, duplicate charges, or payment method updates\\n- **Fraud Concern**: Forged/fake/altered documents, stolen identity, impersonation, unauthorized account creation or access, suspicious identity mismatch, document tampering, metadata manipulation, or repeated suspicious verification attempts\\n- **General Inquiry**: Product questions, integrations, API documentation, feature requests, partnership inquiries, competitor comparisons, or general support questions\\n\\n## Rule 5: Summary Guidelines\\n\\nCreate a single-sentence description in plain English that:\\n\\n- Describes the customer's issue from their perspective\\n- Focuses on operational impact, not classification labels\\n- Avoids technical jargon, error codes, or internal terminology\\n- States what is wrong or what the customer needs, not what category it belongs to\\n\\n**Good examples:**\\n- \\\"Customer's passport upload fails repeatedly despite valid expiration date\\\"\\n- \\\"Customer received verification email for account they did not create\\\"\\n- \\\"Customer is locked out after multiple failed 2FA attempts\\\"\\n- \\\"Customer requests information about Python SDK availability\\\"\\n\\n**Bad examples (avoid these patterns):**\\n- \\\"This is a Medium urgency Document Issue\\\" (uses classification labels)\\n- \\\"Customer has a problem with their document\\\" (too vague, no specifics)\\n- \\\"DOC_REJECT_44 error occurred\\\" (too technical, uses internal error codes)\\n- \\\"Fraud concern ticket\\\" (category name instead of describing the issue)\\n\\n## Rule 6: Fraud Detection (flag_for_review)\\n\\n### Set flag_for_review = true ONLY for credible fraud or security threats:\\n\\n- Forged, fake, or altered documents\\n- Stolen identity or identity theft\\n- Impersonation attempts\\n- Unauthorized account creation or access\\n- Suspicious identity mismatch (e.g., different person in selfie vs ID)\\n- Document tampering or metadata manipulation\\n- Repeated suspicious verification attempts across multiple accounts\\n- Clear evidence of fraudulent activity\\n\\n### Set flag_for_review = false for:\\n\\n- Routine verification failures without fraud indicators\\n- OCR mistakes or misreads\\n- Upload bugs or technical errors\\n- Blurry, cropped, or low-quality document images\\n- Customer confusion or legitimate mistakes\\n- Normal login or password reset issues\\n- Name spelling variations or typos\\n- Document expiration concerns without forgery indicators\\n\\n**Critical Constraint:** If fraud or a security threat is not clearly and explicitly indicated or heavily implied in the ticket, default this field to false.\\n\\n# Edge Cases & Error Handling\\n\\nIf the ticket body is entirely empty, unreadable, or lacks sufficient information to perform classification, gracefully bypass normal classification logic and return exactly this JSON structure:\\n\\n{\\n  \\\"urgency\\\": \\\"Low\\\",\\n  \\\"category\\\": \\\"General Inquiry\\\",\\n  \\\"summary\\\": \\\"Ticket contains no readable content or lacks sufficient information\\\",\\n  \\\"flag_for_review\\\": false\\n}\\n\\n# Input Ticket Data\\n\\nSubject: {{ $('Split in Batches').item.json.subject }}\\nBody: {{ $('Split in Batches').item.json.body }}\\nCustomer: {{ $('Split in Batches').item.json.customer_name }} ({{ $('Split in Batches').item.json.customer_email }})\\n\\nAnalyze the ticket above and return your classification as valid JSON only.\"\n        }\n      ],\n      \"role\": \"user\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "89680da7-81f8-4463-81d5-fb25f43f4418",
      "name": "Retry Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        200
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "YOUR_API_KEY_CREDENTIAL_ID",
          "name": "Gemini API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n\nconst fallbackClassification = {\n  urgency: \"Low\",\n  category: \"General Inquiry\",\n  summary: \"Ticket could not be classified automatically due to an API error or rate limit.\",\n  flag_for_review: true\n};\n\nfunction parseClassification(apiResponse, originalTicket) {\n  // Check for error\n  if (apiResponse.error || apiResponse.statusCode === 429) {\n    return fallbackClassification;\n  }\n\n  try {\n    const aiText = apiResponse.candidates?.[0]?.content?.parts?.[0]?.text;\n\n    if (!aiText || aiText.trim() === '') {\n      return fallbackClassification;\n    }\n\n    const cleanText = aiText\n      .replace(/```json\\n?/g, '')\n      .replace(/```\\n?/g, '')\n      .trim();\n\n    const parsed = JSON.parse(cleanText);\n\n    if (\n      !parsed.urgency ||\n      !parsed.category ||\n      !parsed.summary ||\n      parsed.flag_for_review === undefined ||\n      parsed.flag_for_review === null\n    ) {\n      return fallbackClassification;\n    }\n\n    return {\n      urgency: parsed.urgency,\n      category: parsed.category,\n      summary: parsed.summary,\n      flag_for_review: parsed.flag_for_review\n    };\n  } catch (error) {\n    return fallbackClassification;\n  }\n}\n\nconst outputItems = inputItems.map(item => {\n  const currentData = item.json;\n  const originalTicket = $('Split in Batches').item.json;\n  const classification = parseClassification(currentData, originalTicket);\n\n  return {\n    json: {\n      ticket_id: originalTicket.ticket_id || '',\n      created_at: originalTicket.created_at || '',\n      customer_name: originalTicket.customer_name || '',\n      customer_email: originalTicket.customer_email || '',\n      subject: originalTicket.subject || '',\n      body: originalTicket.body || '',\n      status: originalTicket.status || '',\n      urgency: classification.urgency,\n      category: classification.category,\n      summary: classification.summary,\n      flag_for_review: classification.flag_for_review\n    }\n  };\n});\n\nreturn outputItems;"
      },
      "id": "4e62f557-9902-4e78-a9bf-437da33e6fde",
      "name": "Parse Response with Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticket = $input.item.json;\n\nconst textToCheck = `${ticket.subject || ''} ${ticket.body || ''}`.toLowerCase();\n\nconst fraudKeywords = [\n  'forged',\n  'fake id',\n  'fake document',\n  'altered document',\n  'doctored',\n  'tampered',\n  'stolen identity',\n  'identity theft',\n  'impersonat',\n  'unauthorized account',\n  'someone else using',\n  'used without my permission',\n  'not mine',\n  'identity mismatch',\n  'suspicious activity'\n];\n\nlet fraudDetected = false;\nfor (const keyword of fraudKeywords) {\n  if (textToCheck.includes(keyword)) {\n    fraudDetected = true;\n    break;\n  }\n}\n\nif (fraudDetected) {\n  ticket.category = 'Fraud Concern';\n  ticket.flag_for_review = true;\n  \n  const highUrgencyIndicators = [\n    'stolen identity',\n    'identity theft',\n    'impersonat',\n    'unauthorized account',\n    'someone else using',\n    'used without my permission',\n    'forged',\n    'fake id',\n    'tampered'\n  ];\n  \n  for (const indicator of highUrgencyIndicators) {\n    if (textToCheck.includes(indicator)) {\n      ticket.urgency = 'High';\n      break;\n    }\n  }\n}\n\nreturn { json: ticket };"
      },
      "id": "04b22fe8-c5f2-401d-b965-a9a1d91eb667",
      "name": "Fraud Validation Layer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "a6d5c489-78e1-456c-8ac9-47ac5629a8e0",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "function escapeCSV(value) {\n  if (value === null || value === undefined) {\n    return '';\n  }\n\n  const stringValue = String(value);\n\n  if (\n    stringValue.includes(',') ||\n    stringValue.includes('\"') ||\n    stringValue.includes('\\n') ||\n    stringValue.includes('\\r')\n  ) {\n    return '\"' + stringValue.replace(/\"/g, '\"\"') + '\"';\n  }\n\n  return stringValue;\n}\n\nconst inputItem = $input.first().json;\nconst rows = Array.isArray(inputItem.data) ? inputItem.data : [];\n\nconst headers = [\n  'ticket_id',\n  'created_at',\n  'customer_name',\n  'customer_email',\n  'subject',\n  'body',\n  'status',\n  'urgency',\n  'category',\n  'summary',\n  'flag_for_review'\n];\n\nlet csvContent = headers.join(',') + '\\n';\n\nfor (const rowData of rows) {\n  const row = headers.map(header => escapeCSV(rowData[header]));\n  csvContent += row.join(',') + '\\n';\n}\n\nreturn [\n  {\n    json: {\n      csvContent,\n      ticketCount: rows.length\n    }\n  }\n];"
      },
      "id": "d2bd5361-dfa0-4953-b7ee-ce62fdddc833",
      "name": "Format CSV Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const csvContent = $input.item.json.csvContent;\nconst ticketCount = $input.item.json.ticketCount;\n\nconst binaryData = Buffer.from(csvContent, 'utf-8');\n\nreturn {\n  json: {\n    ticketCount: ticketCount,\n    message: `CSV file generated with ${ticketCount} ticket(s)`\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'classified_tickets.csv'\n    }\n  }\n};"
      },
      "id": "2170f441-c79c-4ed8-adc1-783b0976833a",
      "name": "Convert to Binary File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load and Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load and Parse CSV": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Wait Between API Calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between API Calls": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Check for Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Error": {
      "main": [
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Response with Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Retry Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Gemini API": {
      "main": [
        [
          {
            "node": "Parse Response with Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response with Fallback": {
      "main": [
        [
          {
            "node": "Fraud Validation Layer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fraud Validation Layer": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "Format CSV Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format CSV Output": {
      "main": [
        [
          {
            "node": "Convert to Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "id": "",
  "tags": []
}
