n8n/ticket_triage_cloud.json
{
  "name": "Ticket Triage - Cloud Version",
  "nodes": [
    {
      "parameters": {},
      "id": "b1a5c2e3-4d5e-6f7a-8b9c-0d1e2f3a4b5c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// CSV data embedded directly (works in n8n Cloud)\nconst csvContent = `ticket_id,created_at,customer_name,customer_email,subject,body,status\nTKT-1031,2026-04-28 02:44:00,Greta Lindberg,glindberg@nordicfintech.example,General inquiry,Looking for a reseller in Brazil. Do you have local partners?,pending\nTKT-1041,2026-04-27 22:22:00,Yuki Nakamura,ynakamura@tokyobank.example,Identity verification issue,got a notification my ID was used to open an account. this wasn't me. someone else is using my documents,new\nTKT-1026,2026-04-27 07:17:00,Diego Rivera,d.rivera@orbitfinance.example,Account question,\"Logged in but the dashboard is empty, no transactions visible. Was my account deactivated?\",new\nTKT-1015,2026-04-27 02:28:00,Ricardo Silva,rsilva@brazilfintech.example,Billing inquiry,We want to cancel our subscription at end of cycle. What's the process?,new\nTKT-1017,2026-04-26 20:52:00,Kenji Tanaka,k.tanaka@asiapacific.example,Document upload problem,\"I uploaded my passport three times and it keeps getting rejected. The photo is clear, the document is valid until 2029. What's happening?\",new\nTKT-1045,2026-04-26 19:13:00,Yuki Nakamura,ynakamura@tokyobank.example,Document upload problem,I am trying to verify with my national ID card but the back side keeps failing. The front works fine. Lighting issue maybe?,open\nTKT-1004,2026-04-26 19:01:00,Jamal Washington,jwashington@coastalbank.example,Document upload problem,\"Hi, can you tell me what file formats are accepted for the ID upload? I have a HEIC file from my iPhone and your form keeps saying 'invalid format'.\",new\nTKT-1010,2026-04-26 18:01:00,Kenji Tanaka,k.tanaka@asiapacific.example,Document upload problem,My residence permit was approved but the system rejected it as 'unknown document type'. It's a valid government-issued ID.,open\nTKT-1044,2026-04-26 10:14:00,Diego Rivera,d.rivera@orbitfinance.example,Identity verification issue,\"Hey team, my passport photo has been used without my permission. I never created an account on your system. How do I get this removed?\",pending\nTKT-1006,2026-04-26 01:51:00,Elena Petrova,elena.p@nordicfintech.example,General inquiry,Is it possible to integrate with HubSpot? We use it for our CRM.,open\nTKT-1033,2026-04-25 20:05:00,Ricardo Silva,rsilva@brazilfintech.example,Account question,Can I get a session timeout extension? My team is in the middle of a verification batch and we keep getting kicked out.,new\nTKT-1001,2026-04-25 12:50:00,Greta Lindberg,glindberg@nordicfintech.example,Cannot access account,I forgot my password and the reset link in the email is broken. Can you send me a new one?,open\nTKT-1046,2026-04-25 10:53:00,Tomas Novak,tnovak@apexcapital.example,Document upload problem,Document upload step is stuck on processing for 20 minutes. Should I refresh?,pending\nTKT-1020,2026-04-25 02:59:00,Carlos Mendez,cmendez@iberianfin.example,Suspicious activity on account,I think my account was opened by someone else. I never signed up but I got a verification email with my old address that I haven't used in 3 years. The ID document on file is not mine.,new\nTKT-1038,2026-04-24 21:32:00,Jamal Washington,jwashington@coastalbank.example,Suspicious activity on account,The selfie verification step is showing a face that is not me. I uploaded my passport but the system says identity mismatch. I am worried someone is trying to impersonate me.,new\nTKT-1034,2026-04-24 18:38:00,Naledi Mokoena,nmokoena@savbank.example,General inquiry,Where can I find your SOC 2 report?,open\nTKT-1027,2026-04-24 17:38:00,Tomas Novak,tnovak@apexcapital.example,Cannot access account,Two factor auth code is not arriving. I've waited 10 minutes. Please help.,pending\nTKT-1008,2026-04-24 16:11:00,Aisha Khan,akhan@gulfbanking.example,Identity verification issue,There's something off with the verification on my account. The system accepted an ID that I don't think was mine. The DOB shown is 1987 but mine is 1991.,new\nTKT-1012,2026-04-24 15:46:00,Elena Petrova,elena.p@nordicfintech.example,Verification failed,Submitted a temporary driving permit instead of full license by mistake. Can I redo the verification?,open\nTKT-1009,2026-04-23 14:35:00,Aisha Khan,akhan@gulfbanking.example,Cannot access account,My account says 'pending verification' for 3 days now. Is this normal?,pending\nTKT-1049,2026-04-23 13:20:00,Naledi Mokoena,nmokoena@savbank.example,Identity verification issue,URGENT: a customer just submitted what appears to be a doctored utility bill. The metadata shows it was edited 4 hours before upload. Please check ticket #47 from this morning.,open\nTKT-1014,2026-04-23 09:04:00,Greta Lindberg,glindberg@nordicfintech.example,Suspicious activity on account,Found my driver's license number being used on what looks like a forged document. The customer who submitted has a different photo than mine. Please escalate.,pending\nTKT-1043,2026-04-22 21:28:00,Priya Shankar,priya.s@meridiancorp.example,Identity verification issue,We are seeing patterns where the same selfie appears across multiple new account submissions with different names. Requesting an urgent review of accounts created on Apr 28-29.,open\nTKT-1021,2026-04-22 18:19:00,Tomas Novak,tnovak@apexcapital.example,General inquiry,\"Quick question, do you have an SDK for Python? I see the REST API docs but couldn't find a Python library.\",pending\nTKT-1035,2026-04-22 09:10:00,Alex Morgan,alex.morgan@northstarbank.example,Document upload problem,The OCR seems to be reading my surname wrong. It says 'Khsn' instead of 'Khan'. How do I fix this?,open\nTKT-1013,2026-04-22 05:35:00,Lukas Schmidt,lschmidt@alpinefinance.example,Document upload problem,My driver's license was issued last week and the system says it can't read the date. Can I submit it manually?,pending\nTKT-1005,2026-04-21 18:58:00,Elena Petrova,elena.p@nordicfintech.example,Suspicious activity on account,I'm an admin at our company and I see one of our team members verified with a passport that doesn't match the ID we have on file from HR. Could be a substitution attempt.,new\nTKT-1042,2026-04-21 09:04:00,Aisha Khan,akhan@gulfbanking.example,Account question,How do I export my verification history? I need it for an audit.,new\nTKT-1050,2026-04-21 06:46:00,Jamal Washington,jwashington@coastalbank.example,Billing inquiry,\"Can we get a quote for 50,000 verifications per month?\",open\nTKT-1018,2026-04-21 05:09:00,David Cohen,dcohen@levantbank.example,Verification failed,My middle name appears on the passport but not in my account. The system flagged a mismatch.,new\nTKT-1016,2026-04-21 04:44:00,Priya Shankar,priya.s@meridiancorp.example,Billing inquiry,How do I update the billing email? It still goes to my predecessor at the company.,open\nTKT-1003,2026-04-20 03:30:00,Rashida Patel,rpatel@subcontinentbank.example,Verification failed,\"Hi, the document upload keeps failing with error code DOC_REJECT_44. Could you tell me what that means?\",open\nTKT-1024,2026-04-20 03:19:00,Lukas Schmidt,lschmidt@alpinefinance.example,General inquiry,Can you share your latency stats for the document verification step?,new\nTKT-1029,2026-04-19 16:36:00,Lukas Schmidt,lschmidt@alpinefinance.example,Verification failed,OCR misread my address. It says I live on '12 Main St' but I gave it '12 Maine St'. Will this cause issues with onboarding?,open\nTKT-1019,2026-04-19 08:56:00,Yuki Nakamura,ynakamura@tokyobank.example,Billing inquiry,I was charged twice this month. Can you refund the duplicate?,pending\nTKT-1023,2026-04-18 15:02:00,David Cohen,dcohen@levantbank.example,Account question,Account was deactivated after 90 days of inactivity. Need to reactivate.,open\nTKT-1007,2026-04-18 01:23:00,Kenji Tanaka,k.tanaka@asiapacific.example,Cannot access account,I'm locked out of my account after too many tries. How long is the cooldown?,pending\nTKT-1036,2026-04-16 19:45:00,Sarah Goldberg,sarah.g@summitinvest.example,General inquiry,Our compliance team needs the data residency policy for EU customers. Where can I find that?,new\nTKT-1037,2026-04-16 19:45:00,Olivia Brennan,obrennan@meridiancorp.example,General inquiry,How does your service compare to Onfido? Just doing some research.,open\nTKT-1025,2026-04-16 18:44:00,Tomas Novak,tnovak@apexcapital.example,Billing inquiry,The payment method on file expired. How do I update it?,open\nTKT-1048,2026-04-16 08:50:00,Kenji Tanaka,k.tanaka@asiapacific.example,Suspicious activity on account,\"Hi, I need to flag suspicious activity. There are 4 new accounts created from my email domain in the past 2 days that we did not authorize. Please investigate.\",open\nTKT-1030,2026-04-16 08:02:00,Carlos Mendez,cmendez@iberianfin.example,Billing inquiry,Got an invoice but no breakdown by verification type. We need that for accounting.,new\nTKT-1011,2026-04-16 05:18:00,Sarah Goldberg,sarah.g@summitinvest.example,Account question,Need to add a new admin to our company account. What's the process?,pending\nTKT-1032,2026-04-16 03:45:00,Mei Chen,mei.chen@pacificholdings.example,Billing inquiry,What's included in the Pro plan? Can't find a clear breakdown on the website.,new\nTKT-1022,2026-04-16 02:39:00,Greta Lindberg,glindberg@nordicfintech.example,Verification failed,The system says my passport is expired but it expires in 2027. I checked twice.,new\nTKT-1039,2026-04-16 02:26:00,Sarah Goldberg,sarah.g@summitinvest.example,Cannot access account,\"Hi, can you help me change the email on my account? I no longer have access to the old one.\",open\nTKT-1047,2026-04-15 20:45:00,Yuki Nakamura,ynakamura@tokyobank.example,Document upload problem,\"When I try to take the selfie, the camera does not turn on in your app. I'm using Chrome on a Mac.\",new\nTKT-1002,2026-04-15 19:31:00,Diego Rivera,d.rivera@orbitfinance.example,Verification failed,PDF of my ID got rejected. Should I send a JPG instead?,new\nTKT-1028,2026-04-14 19:17:00,Naledi Mokoena,nmokoena@savbank.example,Verification failed,\"Tried verifying with my ID three times today, gets stuck after I take the selfie. No error message just spinning.\",new\nTKT-1040,2026-04-14 17:54:00,Alex Morgan,alex.morgan@northstarbank.example,Billing inquiry,Invoice #1023 doesn't match the verifications we ran in March. Could you check?,new`;\n\n// Parse CSV helper function\nfunction parseCSVLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  \n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    \n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\n// Parse CSV content\nconst lines = csvContent.trim().split('\\n');\nconst headers = parseCSVLine(lines[0]);\n\nconst outputItems = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (line) {\n    const values = parseCSVLine(line);\n    const ticket = {};\n    headers.forEach((header, index) => {\n      ticket[header] = values[index] || '';\n    });\n    outputItems.push({ json: ticket });\n  }\n}\n\nreturn outputItems;"
      },
      "id": "c2b3d4e5-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Load and Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "d3e4f5a6-7b8c-9d0e-1f2a-3b4c5d6e7f8a",
      "name": "Limit to 1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key={{ $credentials.geminiApiKey }}",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Role: You are a support ticket classifier for a document verification company (AU10TIX).\\n\\nTask: Analyze this ticket and return ONLY valid JSON with exactly these four keys:\\n{\\n  \\\"urgency\\\": \\\"High\\\" | \\\"Medium\\\" | \\\"Low\\\",\\n  \\\"category\\\": \\\"Document Issue\\\" | \\\"Account Access\\\" | \\\"Billing\\\" | \\\"Fraud Concern\\\" | \\\"General Inquiry\\\",\\n  \\\"summary\\\": \\\"one plain sentence describing the issue\\\",\\n  \\\"flag_for_review\\\": true | false\\n}\\n\\nUrgency rules:\\n- High: system down, fraud signals, data breach, blocked customer\\n- Medium: bugs, access issues, billing disputes\\n- Low: questions, feature requests, general inquiries\\n\\nCategory distinctions:\\n- Document Issue: upload failure, OCR issue, rejected valid document, format issue, missing field, normal verification problem\\n- Fraud Concern: forged document, stolen identity, impersonation, unauthorized account, fake ID, document tampering, suspicious repeated pattern\\n\\nFraud guidance (flag_for_review = true):\\n- Set flag_for_review = true ONLY if there is a clear fraud or identity misuse signal\\n- Fraud signals: forged documents, fake IDs, stolen identity, impersonation, unauthorized account creation, document tampering\\n- Do NOT mark routine document rejection or normal name/address mismatch as fraud unless the ticket implies impersonation, forgery, stolen identity, or unauthorized use\\n\\nEdge case handling:\\n- If the ticket is empty or too vague, return:\\n  urgency = \\\"Low\\\"\\n  category = \\\"General Inquiry\\\"\\n  summary = \\\"The ticket does not contain enough information to classify the issue.\\\"\\n  flag_for_review = false\\n\\nTicket:\\nSubject: {{ $json.subject }}\\nBody: {{ $json.body }}\\nCustomer: {{ $json.customer_name }} ({{ $json.customer_email }})\\n\\nReturn ONLY the JSON object with exactly four keys. No markdown formatting, no extra fields.\"\n        }\n      ],\n      \"role\": \"user\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "e4f5a6b7-8c9d-0e1f-2a3b-4c5d6e7f8a9b",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "geminiApiKey": {
          "id": "PLACEHOLDER_CREDENTIAL_ID",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI response from Gemini\nconst response = $input.item.json;\n\n// Gemini returns the response in candidates[0].content.parts[0].text\nconst aiText = response.candidates[0].content.parts[0].text;\n\n// Parse the JSON from the AI response\nlet classification;\ntry {\n  classification = JSON.parse(aiText);\n} catch (error) {\n  throw new Error('Failed to parse AI response as JSON: ' + aiText);\n}\n\n// Get the original ticket data from the previous node\nconst originalTicket = $('Limit to 1').item.json;\n\n// Combine original ticket data with classification\nconst result = {\n  ticket_id: originalTicket.ticket_id,\n  created_at: originalTicket.created_at,\n  customer_name: originalTicket.customer_name,\n  customer_email: originalTicket.customer_email,\n  subject: originalTicket.subject,\n  body: originalTicket.body,\n  status: originalTicket.status,\n  urgency: classification.urgency,\n  category: classification.category,\n  summary: classification.summary,\n  flag_for_review: classification.flag_for_review\n};\n\nreturn { json: result };"
      },
      "id": "f5a6b7c8-9d0e-1f2a-3b4c-5d6e7f8a9b0c",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load and Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load and Parse CSV": {
      "main": [
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-20T12:52:00.000Z",
  "versionId": ""
}
