n8n/ticket_triage_csv_ingestion.json
{
  "name": "Ticket Triage - CSV Ingestion",
  "nodes": [
    {
      "parameters": {},
      "id": "b1a5c2e3-4d5e-6f7a-8b9c-0d1e2f3a4b5c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/input/tickets.csv",
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Read CSV File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get binary data from the Read CSV File node\nconst items = $input.all();\nconst binaryPropertyName = 'data';\nconst binaryData = items[0].binary[binaryPropertyName];\n\n// Convert binary data to string\nlet csvContent;\nif (binaryData.data instanceof Buffer) {\n  csvContent = binaryData.data.toString('utf8');\n} else if (typeof binaryData.data === 'string') {\n  csvContent = Buffer.from(binaryData.data, 'base64').toString('utf8');\n} else {\n  csvContent = binaryData.data;\n}\n\n// Parse CSV helper function that handles quoted fields\nfunction parseCSVLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  \n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    \n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\n// Parse CSV content\nconst lines = csvContent.trim().split('\\n');\nconst headers = parseCSVLine(lines[0]);\n\nconst outputItems = [];\nfor (let i = 1; i < lines.length; i++) {\n  if (lines[i].trim()) {\n    const values = parseCSVLine(lines[i]);\n    const ticket = {};\n    headers.forEach((header, index) => {\n      ticket[header] = values[index] || '';\n    });\n    outputItems.push({ json: ticket });\n  }\n}\n\nreturn outputItems;"
      },
      "id": "c2b3d4e5-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV File": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-19T15:42:00.000Z",
  "versionId": ""
}
