n8n/ticket_triage_csv_ingestion.json
{
  "name": "Ticket Triage - Gemini Test",
  "nodes": [
    {
      "parameters": {},
      "id": "b1a5c2e3-4d5e-6f7a-8b9c-0d1e2f3a4b5c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/input/tickets.csv",
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Read CSV File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the input item with binary data\nconst item = $input.item.json;\nconst binaryData = $input.item.binary;\n\n// Get the CSV content from binary data\nlet csvContent;\ntry {\n  const fileData = await this.helpers.getBinaryDataBuffer(0, 'data');\n  csvContent = fileData.toString('utf-8');\n} catch (error) {\n  throw new Error('Failed to read binary data: ' + error.message);\n}\n\n// Helper function to parse CSV line with quoted field support\nfunction parseCSVLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  \n  for (let i = 0; i < line.length; i++) {\n    const char = line[i];\n    \n    if (char === '\"') {\n      inQuotes = !inQuotes;\n    } else if (char === ',' && !inQuotes) {\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += char;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\n// Split into lines and parse\nconst lines = csvContent.trim().split('\\n');\nconst headers = parseCSVLine(lines[0]);\n\n// Build output items\nconst outputItems = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (line) {\n    const values = parseCSVLine(line);\n    const ticket = {};\n    headers.forEach((header, index) => {\n      ticket[header] = values[index] || '';\n    });\n    outputItems.push({ json: ticket });\n  }\n}\n\nreturn outputItems;"
      },
      "id": "c2b3d4e5-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "d3e4f5a6-7b8c-9d0e-1f2a-3b4c5d6e7f8a",
      "name": "Limit to 1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "queryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\":[{\"text\":\"Role: You are a support ticket classifier for a document verification company (AU10TIX).\\n\\nTask: Analyze this ticket and return ONLY valid JSON with exactly these four keys:\\n{\\n  \\\"urgency\\\": \\\"High\\\" | \\\"Medium\\\" | \\\"Low\\\",\\n  \\\"category\\\": \\\"Document Issue\\\" | \\\"Account Access\\\" | \\\"Billing\\\" | \\\"Fraud Concern\\\" | \\\"General Inquiry\\\",\\n  \\\"summary\\\": \\\"one plain sentence describing the issue\\\",\\n  \\\"flag_for_review\\\": true | false\\n}\\n\\nUrgency rules:\\n- High: system down, fraud signals, data breach, blocked customer\\n- Medium: bugs, access issues, billing disputes\\n- Low: questions, feature requests, general inquiries\\n\\nCategory distinctions:\\n- Document Issue: upload failure, OCR issue, rejected valid document, format issue, missing field, normal verification problem\\n- Fraud Concern: forged document, stolen identity, impersonation, unauthorized account, fake ID, document tampering, suspicious repeated pattern\\n\\nFraud guidance (flag_for_review = true):\\n- Set flag_for_review = true ONLY if there is a clear fraud or identity misuse signal\\n- Fraud signals: forged documents, fake IDs, stolen identity, impersonation, unauthorized account creation, document tampering\\n- Do NOT mark routine document rejection or normal name/address mismatch as fraud unless the ticket implies impersonation, forgery, stolen identity, or unauthorized use\\n\\nEdge case handling:\\n- If the ticket is empty or too vague, return:\\n  urgency = \\\"Low\\\"\\n  category = \\\"General Inquiry\\\"\\n  summary = \\\"The ticket does not contain enough information to classify the issue.\\\"\\n  flag_for_review = false\\n\\nTicket:\\nSubject: \" + $json.subject + \"\\nBody: \" + $json.body + \"\\nCustomer: \" + $json.customer_name + \" (\" + $json.customer_email + \")\\n\\nReturn ONLY the JSON object with exactly four keys. No markdown formatting, no extra fields.\"}],\"role\":\"user\"}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4f5a6b7-8c9d-0e1f-2a3b-4c5d6e7f8a9b",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI response from Gemini\nconst response = $input.item.json;\n\n// Gemini returns the response in candidates[0].content.parts[0].text\nconst aiText = response.candidates[0].content.parts[0].text;\n\n// Parse the JSON from the AI response\nlet classification;\ntry {\n  classification = JSON.parse(aiText);\n} catch (error) {\n  throw new Error('Failed to parse AI response as JSON: ' + aiText);\n}\n\n// Combine original ticket data with classification\nconst result = {\n  ticket_id: $input.item.json.ticket_id || $('Parse CSV').item.json.ticket_id,\n  created_at: $input.item.json.created_at || $('Parse CSV').item.json.created_at,\n  customer_name: $input.item.json.customer_name || $('Parse CSV').item.json.customer_name,\n  customer_email: $input.item.json.customer_email || $('Parse CSV').item.json.customer_email,\n  subject: $input.item.json.subject || $('Parse CSV').item.json.subject,\n  body: $input.item.json.body || $('Parse CSV').item.json.body,\n  status: $input.item.json.status || $('Parse CSV').item.json.status,\n  urgency: classification.urgency,\n  category: classification.category,\n  summary: classification.summary,\n  flag_for_review: classification.flag_for_review\n};\n\nreturn { json: result };"
      },
      "id": "f5a6b7c8-9d0e-1f2a-3b4c-5d6e7f8a9b0c",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV File": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Limit to 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-20T11:54:00.000Z",
  "versionId": ""
}
