n8n/ticket_triage_form_fixed.json
{
  "name": "AU10TIX Ticket Triage Agent (Batch 4 — Visual Nodes)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Ticket Triage",
        "formFields": {
          "values": [
            {
              "fieldLabel": "tickets",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [-2400, 400],
      "id": "d8e98689-74ba-4693-9878-ab3c45728d4d",
      "name": "Form Trigger",
      "webhookId": "aa556e61-c1ec-4705-8fac-b2f1e2a3fea6"
    },
    {
      "parameters": {
        "binaryPropertyName": "tickets",
        "options": {
          "headerRow": true
        }
      },
      "id": "8d44a9e3-d02f-4390-bcf4-b14d5c9715b7",
      "name": "Read tickets.csv",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [-2200, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticket = $input.item.json;\nconst body = (ticket.body || '').trim();\nconst subject = (ticket.subject || '').trim();\n\nif (body.length < 5 && subject.length < 5) {\n  return {\n    json: {\n      ...ticket,\n      _skip: true,\n      urgency: 'Low',\n      category: 'General Inquiry',\n      summary: 'Ticket body is empty or unreadable.',\n      flag_for_review: false\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...ticket,\n    _skip: false\n  }\n};"
      },
      "id": "19142d6b-f5c2-4a54-8077-a4a86f1be2bc",
      "name": "Edge Case Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2000, 400]
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [-1800, 400],
      "id": "2876d270-da49-47ab-8823-14850717e08c",
      "name": "Limit"
    },
    {
      "parameters": {
        "content": "## Loop (batch 4)\n\n- **Output loop (1):** up to 4 tickets → processing chain\n- **Output done (0):** all results → CSV\n\n**Batch Loop Back** (Run Once for All Items) returns the whole batch in **one** execution so the loop does not duplicate items.\n\nGemini uses HTTP **batching**: 1 request every 2.5s within each batch.",
        "height": 260,
        "width": 400
      },
      "id": "sticky-batch-loop",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1680, 120]
    },
    {
      "parameters": {
        "batchSize": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1600, 400],
      "id": "93c2e243-2464-42c2-b1a0-737eeb9fd59c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Short pause once per batch (not per ticket)\nawait new Promise((r) => setTimeout(r, 2000));\nreturn $input.all();"
      },
      "id": "batch-pause-start",
      "name": "Batch Pause (2s)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1400, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-condition",
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1aaa0bc2-608d-40c7-a2fa-cd84de963da9",
      "name": "Route: Skip or Process",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1200, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are a support ticket triage assistant for AcmeIDV, an identity verification company. Return ONLY a raw JSON object with exactly these 4 keys — no markdown fences, no extra text:\\n\\n- urgency: exactly one of [High, Medium, Low]\\n- category: exactly one of [Document Issue, Account Access, Billing, Fraud Concern, General Inquiry]\\n- summary: one plain-English sentence (max 25 words).\\n- flag_for_review: true if ANY fraud/security signals are present. Otherwise false.\\n\\nRespond ONLY with a JSON object.\"\n        },\n        {\n          \"text\": \"Subject: {{ $('Loop Over Items').item.json.subject }}\\n\\nBody:\\n{{ $('Loop Over Items').item.json.body }}\\n\\nCustomer: {{ $('Loop Over Items').item.json.customer_name }} ({{ $('Loop Over Items').item.json.customer_email }})\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2500
            }
          }
        }
      },
      "id": "e46b6451-c096-40a0-b608-72b86dac8590",
      "name": "Gemini LLM Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-960, 640],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3eNVAfA40ER2bFI5",
          "name": "x-goog-api-key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticket = $('Loop Over Items').item.json;\nconst apiResponse = $input.item.json;\n\nconst fallback = {\n  urgency: 'Low',\n  category: 'General Inquiry',\n  summary: 'Classification failed — could not parse LLM response.',\n  flag_for_review: false\n};\n\nconst VALID_URGENCY = ['High', 'Medium', 'Low'];\nconst VALID_CATEGORY = ['Document Issue', 'Account Access', 'Billing', 'Fraud Concern', 'General Inquiry'];\n\nfunction buildResult(classification) {\n  return {\n    json: {\n      ticket_id: ticket.ticket_id || '',\n      created_at: ticket.created_at || '',\n      customer_name: ticket.customer_name || '',\n      customer_email: ticket.customer_email || '',\n      subject: ticket.subject || '',\n      body: ticket.body || '',\n      status: ticket.status || '',\n      urgency: classification.urgency,\n      category: classification.category,\n      summary: classification.summary,\n      flag_for_review: classification.flag_for_review\n    }\n  };\n}\n\nif (apiResponse.error) {\n  return buildResult(fallback);\n}\n\ntry {\n  let raw = apiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  raw = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('No JSON object found');\n  const parsed = JSON.parse(match[0]);\n  const classification = {\n    urgency: VALID_URGENCY.includes(parsed.urgency) ? parsed.urgency : 'Low',\n    category: VALID_CATEGORY.includes(parsed.category) ? parsed.category : 'General Inquiry',\n    summary: (parsed.summary || 'No summary provided.').substring(0, 200),\n    flag_for_review: typeof parsed.flag_for_review === 'boolean'\n      ? parsed.flag_for_review\n      : String(parsed.flag_for_review).toLowerCase() === 'true'\n  };\n  return buildResult(classification);\n} catch (e) {\n  return buildResult(fallback);\n}"
      },
      "id": "b16c8407-24e5-4181-8814-7c2323ecb0ac",
      "name": "Parse + Validate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-680, 620]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticket = $input.item.json;\nconst textToCheck = `${ticket.subject || ''} ${ticket.body || ''}`.toLowerCase();\n\nconst fraudKeywords = [\n  'forged', 'fake id', 'fake document', 'altered document', 'doctored', 'tampered',\n  'stolen identity', 'identity theft', 'impersonat', 'unauthorized account',\n  'someone else using', 'used without my permission', 'not mine',\n  'identity mismatch', 'suspicious activity'\n];\n\nfor (const keyword of fraudKeywords) {\n  if (textToCheck.includes(keyword)) {\n    ticket.category = 'Fraud Concern';\n    ticket.flag_for_review = true;\n    const highUrgency = ['stolen identity', 'identity theft', 'impersonat', 'unauthorized account', 'forged', 'fake id', 'tampered'];\n    for (const indicator of highUrgency) {\n      if (textToCheck.includes(indicator)) {\n        ticket.urgency = 'High';\n        break;\n      }\n    }\n    break;\n  }\n}\n\nreturn { json: ticket };"
      },
      "id": "fraud-validation-layer",
      "name": "Fraud Validation Layer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 620]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticket = $('Loop Over Items').item.json;\nconst item = $input.item.json;\nconst retryCount = (item._retry_count || 0) + 1;\nconst maxRetries = 3;\n\nif (retryCount > maxRetries) {\n  return {\n    json: {\n      ticket_id: ticket.ticket_id || '',\n      created_at: ticket.created_at || '',\n      customer_name: ticket.customer_name || '',\n      customer_email: ticket.customer_email || '',\n      subject: ticket.subject || '',\n      body: ticket.body || '',\n      status: ticket.status || '',\n      _retry_count: retryCount,\n      _give_up: true,\n      urgency: 'Low',\n      category: 'General Inquiry',\n      summary: 'Classification failed after maximum retries.',\n      flag_for_review: false\n    }\n  };\n}\n\nreturn {\n  json: {\n    ticket_id: ticket.ticket_id || '',\n    created_at: ticket.created_at || '',\n    customer_name: ticket.customer_name || '',\n    customer_email: ticket.customer_email || '',\n    subject: ticket.subject || '',\n    body: ticket.body || '',\n    status: ticket.status || '',\n    _retry_count: retryCount,\n    _give_up: false,\n    _backoff_seconds: Math.pow(2, retryCount)\n  }\n};"
      },
      "id": "9fed39e1-7a77-405f-96ff-1334e9a7719e",
      "name": "Retry Counter + Backoff Calc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 880]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "give-up-condition",
              "leftValue": "={{ $json._give_up }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e895a72-8f40-4265-8ab4-dc2c22135bc9",
      "name": "Route: Retry or Give Up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-720, 880]
    },
    {
      "parameters": {
        "amount": "={{ $json._backoff_seconds }}",
        "unit": "seconds"
      },
      "id": "0ad88a4a-c18c-44fb-ab68-a357cc848a98",
      "name": "Exponential Backoff Sleep",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-480, 900],
      "webhookId": "backoff-wait"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ticket = $('Loop Over Items').item.json;\nreturn {\n  json: {\n    ticket_id: ticket.ticket_id || '',\n    created_at: ticket.created_at || '',\n    customer_name: ticket.customer_name || '',\n    customer_email: ticket.customer_email || '',\n    subject: ticket.subject || '',\n    body: ticket.body || '',\n    status: ticket.status || '',\n    urgency: ticket.urgency || 'Low',\n    category: ticket.category || 'General Inquiry',\n    summary: ticket.summary || 'Ticket body is empty or unreadable.',\n    flag_for_review: ticket.flag_for_review === true\n  }\n};"
      },
      "id": "format-skip-ticket",
      "name": "Format Skipped Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// CRITICAL: one loop-back per batch — do not connect Clean Up directly to Loop.\nconst items = $input.all();\n\nreturn items.map((item) => {\n  const j = { ...item.json };\n  delete j._skip;\n  delete j._retry_count;\n  delete j._give_up;\n  delete j._backoff_seconds;\n  return { json: j };\n});"
      },
      "id": "batch-loop-back",
      "name": "Batch Loop Back",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 520]
    },
    {
      "parameters": {
        "jsCode": "function escapeCSV(value) {\n  if (value === null || value === undefined) return '';\n  const s = String(value);\n  if (s.includes(',') || s.includes('\"') || s.includes('\\n') || s.includes('\\r')) {\n    return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n  }\n  return s;\n}\n\nconst items = $input.all();\nconst headers = [\n  'ticket_id', 'created_at', 'customer_name', 'customer_email',\n  'subject', 'body', 'status', 'urgency', 'category', 'summary', 'flag_for_review'\n];\n\nlet csvContent = headers.join(',') + '\\n';\nfor (const item of items) {\n  const row = headers.map(h => escapeCSV(item.json[h]));\n  csvContent += row.join(',') + '\\n';\n}\n\nreturn [{\n  json: {\n    csvContent,\n    ticketCount: items.length\n  }\n}];"
      },
      "id": "format-csv-output",
      "name": "Format CSV Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1400, 200]
    },
    {
      "parameters": {
        "jsCode": "const csvContent = $input.item.json.csvContent;\nconst ticketCount = $input.item.json.ticketCount;\nconst binaryData = Buffer.from(csvContent, 'utf-8');\n\nreturn {\n  json: {\n    ticketCount,\n    message: `CSV file generated with ${ticketCount} ticket(s)`\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'classified_tickets.csv'\n    }\n  }\n};"
      },
      "id": "convert-to-binary-csv",
      "name": "Convert to Binary File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1160, 200]
    }
  ],
  "pinData": {},
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "Read tickets.csv", "type": "main", "index": 0 }]]
    },
    "Read tickets.csv": {
      "main": [[{ "node": "Edge Case Check", "type": "main", "index": 0 }]]
    },
    "Edge Case Check": {
      "main": [[{ "node": "Limit", "type": "main", "index": 0 }]]
    },
    "Limit": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [{ "node": "Format CSV Output", "type": "main", "index": 0 }],
        [{ "node": "Batch Pause (2s)", "type": "main", "index": 0 }]
      ]
    },
    "Batch Pause (2s)": {
      "main": [[{ "node": "Route: Skip or Process", "type": "main", "index": 0 }]]
    },
    "Route: Skip or Process": {
      "main": [
        [{ "node": "Gemini LLM Call", "type": "main", "index": 0 }],
        [{ "node": "Format Skipped Ticket", "type": "main", "index": 0 }]
      ]
    },
    "Gemini LLM Call": {
      "main": [
        [{ "node": "Parse + Validate Response", "type": "main", "index": 0 }],
        [{ "node": "Retry Counter + Backoff Calc", "type": "main", "index": 0 }]
      ]
    },
    "Parse + Validate Response": {
      "main": [[{ "node": "Fraud Validation Layer", "type": "main", "index": 0 }]]
    },
    "Fraud Validation Layer": {
      "main": [[{ "node": "Batch Loop Back", "type": "main", "index": 0 }]]
    },
    "Format Skipped Ticket": {
      "main": [[{ "node": "Batch Loop Back", "type": "main", "index": 0 }]]
    },
    "Retry Counter + Backoff Calc": {
      "main": [[{ "node": "Route: Retry or Give Up?", "type": "main", "index": 0 }]]
    },
    "Route: Retry or Give Up?": {
      "main": [
        [{ "node": "Batch Loop Back", "type": "main", "index": 0 }],
        [{ "node": "Exponential Backoff Sleep", "type": "main", "index": 0 }]
      ]
    },
    "Exponential Backoff Sleep": {
      "main": [[{ "node": "Gemini LLM Call", "type": "main", "index": 0 }]]
    },
    "Batch Loop Back": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Format CSV Output": {
      "main": [[{ "node": "Convert to Binary File", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
